# Importing libraries

In [2]:
import pandas as pd
import numpy as np

# Converting excel to desired Table to ML Model

In [3]:
df = pd.read_csv('vgsales.csv')

In [4]:
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [5]:
cdf = df.loc[0:10,['Name','Platform','Year','Genre','Publisher','Global_Sales']]
cdf

,Name,Platform,Year,Genre,Publisher,Global_Sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,82.74
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,40.24
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,35.82
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,33.00
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,31.37
5,Tetris,GB,1989.0,Puzzle,Nintendo,30.26
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,30.01
7,Wii Play,Wii,2006.0,Misc,Nintendo,29.02
8,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,28.62
9,Duck Hunt,NES,1984.0,Shooter,Nintendo,28.31
10,Nintendogs,DS,2005.0,Simulation,Nintendo,24.76

In [6]:
cdf.to_csv('vgdata.csv', sep=',', encoding='utf-8')

In [7]:
cdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          11 non-null     object
 1   Platform      11 non-null     object
 2   Year          11 non-null     float64
 3   Genre         11 non-null     object
 4   Publisher     11 non-null     object
 5   Global_Sales  11 non-null     float64
dtypes: float64(2), object(4)
memory usage: 656.0+ bytes

In [33]:
pwd

'/Users/adityatiwari/Desktop/Python/ML-WebApp'

# Pushing data to Mongo DB

In [30]:
import pandas as pd
import pymongo
from pymongo import MongoClient

cluster = MongoClient("mongodb+srv://admin:adminrocks@db01.i7iwq.gcp.mongodb.net/test?retryWrites=true&w=majority")

db = cluster["test"]
collection = db["test"]
dic = cdf.to_dict('records')
for i in range(0,len(dic)):
    dic[i]['_id'] = i

collection.insert_many(dic)

In [29]:
collection.delete_many({})

In [22]:
dic = cdf.to_dict('records')
len(dic)

11

In [24]:
for i in range(0,len(dic)):
    dic[i]['_id'] = i

In [25]:
dic

[{'Name': 'Wii Sports',
  'Platform': 'Wii',
  'Year': 2006.0,
  'Genre': 'Sports',
  'Publisher': 'Nintendo',
  'Global_Sales': 82.74,
  '_id': 0},
 {'Name': 'Super Mario Bros.',
  'Platform': 'NES',
  'Year': 1985.0,
  'Genre': 'Platform',
  'Publisher': 'Nintendo',
  'Global_Sales': 40.24,
  '_id': 1},
 {'Name': 'Mario Kart Wii',
  'Platform': 'Wii',
  'Year': 2008.0,
  'Genre': 'Racing',
  'Publisher': 'Nintendo',
  'Global_Sales': 35.82,
  '_id': 2},
 {'Name': 'Wii Sports Resort',
  'Platform': 'Wii',
  'Year': 2009.0,
  'Genre': 'Sports',
  'Publisher': 'Nintendo',
  'Global_Sales': 33.0,
  '_id': 3},
 {'Name': 'Pokemon Red/Pokemon Blue',
  'Platform': 'GB',
  'Year': 1996.0,
  'Genre': 'Role-Playing',
  'Publisher': 'Nintendo',
  'Global_Sales': 31.37,
  '_id': 4},
 {'Name': 'Tetris',
  'Platform': 'GB',
  'Year': 1989.0,
  'Genre': 'Puzzle',
  'Publisher': 'Nintendo',
  'Global_Sales': 30.26,
  '_id': 5},
 {'Name': 'New Super Mario Bros.',
  'Platform': 'DS',
  'Year': 2006.0,
  'Genre': 'Platform',
  'Publisher': 'Nintendo',
  'Global_Sales': 30.01,
  '_id': 6},
 {'Name': 'Wii Play',
  'Platform': 'Wii',
  'Year': 2006.0,
  'Genre': 'Misc',
  'Publisher': 'Nintendo',
  'Global_Sales': 29.02,
  '_id': 7},
 {'Name': 'New Super Mario Bros. Wii',
  'Platform': 'Wii',
  'Year': 2009.0,
  'Genre': 'Platform',
  'Publisher': 'Nintendo',
  'Global_Sales': 28.62,
  '_id': 8},
 {'Name': 'Duck Hunt',
  'Platform': 'NES',
  'Year': 1984.0,
  'Genre': 'Shooter',
  'Publisher': 'Nintendo',
  'Global_Sales': 28.31,
  '_id': 9},
 {'Name': 'Nintendogs',
  'Platform': 'DS',
  'Year': 2005.0,
  'Genre': 'Simulation',
  'Publisher': 'Nintendo',
  'Global_Sales': 24.76,
  '_id': 10}]

In [47]:
# Converting CSV file to pandas dataframe
df = pd.read_csv('vgdata.csv')

# Connecting to Mongo DB
cluster = MongoClient("mongodb+srv://admin:adminrocks@db01.i7iwq.gcp.mongodb.net/test?retryWrites=true&w=majority")
db = cluster["test"]
collection = db["test"]

# Converting dataframe to dictionary and adding '_id'
dic = df.to_dict('records')
for i in range(0,len(dic)):
    dic[i]['_id'] = i

# Pushing dictionary to Mongo DB
collection.insert_many(dic)

In [48]:
collection.delete_many({})

0

In [46]:
for i in range(0,len(result)):
    print(result[i]['_id'])

0
1
2
3
4
5
6
7
8
9
10